@import "tailwindcss";

@theme {
  --color-primary-black: #2C2928;
  --color-primary-grey-dark: #747170;
  --color-primary-grey-light: #C9CFDA;
  --color-secondary-cherry-light: #C25166;
  --color-secondary-cherry-dark: #7A2B39;
}

body {
  font-family: var(--font-montserrat), sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-unbounded), sans-serif;
}